@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Thunder;
  src: 
  url("/fonts/Thunder-MediumLC.ttf") format("truetype");
}

@font-face {
  font-family: Thunder-Bold;
  src: 
  url("/fonts/Thunder-BoldLC.ttf") format("truetype");
}


@font-face {
  font-family: Giaza;
  src: 
  url("/fonts/Giaza-Stencil.ttf") format("truetype");
}

@font-face {
  font-family: Cardo;
  src: 
  url("/fonts/Cardo-Regular.ttf") format("truetype");
}

body{
  background-color: #050505!important;
  overflow-x: hidden;
}

h1{
  font-family: "Giaza", sans-serif;
  font-size: 120px;
  color:#AEFD38;
}

h3{
  color: #FDFDFD;
  font-family: "Thunder", sans-serif;
  font-size: 30px;
}

p{
  color: #FDFDFD;
  font-family: "Cardo", serif;
  font-size: 14px;
}

.glow{
  filter: drop-shadow(0px 0px 20px #AEFD38);
  color:#AEFD38;
}

.empireGlow .textGlow{
  filter: blur(30px);
}
 .empireGlow > :last-child{
  transform: rotatex(180deg) translatey(60%); 
  filter: blur(5px);

}

.navbarItem:hover{
  filter: drop-shadow(0px 0px 20px #AEFD38);
}

.chakra-input:focus, .chakra-textarea:focus{
  outline:none!important;
  border: none!important;
  box-shadow: none!important;
}
.chakra-input, .chakra-textarea{
  color: white;
  border: none!important;
  font-family: "Cardo", serif;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(1)!important;
}

.chakra-button{
  background:none!important;
  
}

.chakra-button h3:hover{
  background:#FDFDFD!important;
  color: #050505!important;
  transition: all ease-in-out 0.25s;
}

.chakra-button h3{
  color: #FDFDFD!important;
  transition: all ease-in-out 0.25s;
}

.css-1fc7edv{
  border-bottom-color:#AEFD38!important;
  border-left-color:#AEFD38!important;
  width:20px!important;
  height:20px!important;
  border-width: 5px!important;
}

@media (min-width: 768px){
  h1{
    font-size: 200px;
  }

  p{

    font-size: 26px;
  }
}

@media (min-width: 1024px){
  h1{
    font-size: 300px;
  }

  p{

    font-size: 26px;
  }
}