@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Thunder;
  src: 
  url("/fonts/Thunder-MediumLC.ttf") format("truetype");
}

@font-face {
  font-family: Giaza;
  src: 
  url("/fonts/Giaza-Stencil.ttf") format("truetype");
}

body{
  background-color: #050505;
  overflow-x: hidden;
}

h1{
  font-family: "Giaza", sans-serif;
  font-size: 368px;
  color:#AEFD38;
}

h3{
  color: #FDFDFD;
  font-family: "Thunder", sans-serif;
  font-size: 30px;
}

p{
  color: #FDFDFD;
  font-family: "Thunder", sans-serif;
  font-size: 26px;
}

.empire{
  filter: drop-shadow(0px 0px 60px #AEFD38);
}

.navbarItem:hover{
  filter: drop-shadow(0px 0px 20px #AEFD38);
}